@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import "fonts-face";

* {
  box-sizing: border-box;
}

:root {
  --font-family: "Google Sans", sans-serif;
  --second-family: "Roboto Flex", sans-serif;

  --green: #34a853;
  --blue: #4285f4;
  --mid-grey: #53575c;
}

figure {
  margin: 0;
}


.section-sliders-aside.finish {
  position: relative;

  .sidebar-card {
    position: absolute;

    &:nth-child(1) {
      top: unset;
      bottom: 150px;
    }

    &:nth-child(2) {
      top: unset;
      bottom: 120px;
    }

    &:nth-child(3) {
      top: unset;
      bottom: 90px;
    }

    &:nth-child(4) {
      top: unset;
      bottom: 60px;
    }

    &:nth-child(5) {
      top: unset;
      bottom: 30px;
    }

    &:nth-child(6) {
      position: sticky;
    }
  }
}