@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import "fonts-face";

* {
  box-sizing: border-box;
}

:root {
  --font-family: "Google Sans", sans-serif;
  --second-family: "Roboto Flex", sans-serif;

  --green: #34a853;
  --blue: #4285f4;
  --mid-grey: #53575c;
}

figure {
  margin: 0;
}
