---
interface Props {
	title: string;
	body: string;
	href: string;
	imgLink: string;
}

const { href, title, text, imgLink } = Astro.props;
---

<div class="slider-card">
	<figure class="slider-card-image"><img src={imgLink} alt=""></figure>
	<div class="slider-card-component">
		<strong>{title}</strong>
		<p>{text}</p>
	</div>
	<a href={href}>Read now <img src="/arrow.svg" alt="Link arrow"></a>
</div>
<style>
.slider-card {
	color: #000;
}
</style>
