---

---

<div class="first-section">
    <div class="wrapper">
        <div class="section-aside">
            <h1>
                <span>Solving</span><span>for Innovation</span>
            </h1>
            <div class="subtitle">Your Hub for Expert-Curated Cloud Insights</div>
            <div class="section-images">
                <figure><img src="/logo-itc.svg" alt="ITC logo"></figure>
                <figure><img src="/logo-google.svg" alt="Google logo"></figure>
            </div>
        </div>
        <figure class="section-video">
            <video autoplay loop muted>
                <source src="/first-screen-video.mp4" type="video/mp4"/>
            </video>
        </figure>
    </div>
</div>

<style lang="scss">

  .first-section {
    padding-left: 40px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    padding-left: 30px;
    margin: 0 auto;
  }

  .section {
    &-aside {
      width: calc(100% - 622px - 62px);
    }

    &-images {
      display: flex;
      gap: 32px;
      margin-bottom: 20px;
    }

    &-video {
      /*background-color: grey;*/
      border-radius: 50%;
      width: 100%;
      max-width: 600px;
      height: 600px;
      line-height: 0;
      /*padding: 20px;*/
      overflow: hidden;
      position: relative;

      video {
        width: 650px;
        height: 650px;
        /*height: 100%;*/
        /*object-fit: cover;*/
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -30px;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }

  h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 80px;
    line-height: 105%;
    margin-top: 140px;
    margin-bottom: 6px;

    span {
      &:first-child {
        color: var(--blue);
        display: inline-block;
      }

      &:last-child {
        color: var(--green);
        display: block;
      }
    }
  }

  .subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 46px;
  }
</style>