---

---

<div>
    <h1>
        <span>Solving</span>
        <span>for Innovation</span>
    </h1>
    <div class="sub-title">Your Hub for Daily Expert-Curated Cloud Insights</div>
    <video autoplay loop muted>
        <source src="/first-screen-video.mp4" type="video/mp4"/>
    </video>
</div>

<style lang="scss">
  h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 80px;
    line-height: 105%;

    span {
      &:first-child {
        color: var(--blue);
      }

      &:last-child {
        color: var(--green);
      }
    }
  }
</style>