---

---
<div class="pre-header">
    <img src="/reload-icon.svg" alt="Reloaded icon">
    <p><span>This hub is regularly updated with new cloud insights.</span> Be sure to check back for fresh content
        delivered daily.</p>
</div>
<style lang="scss">
  .pre-header {
    text-align: center;
    background-color: #e8f0fe;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 11px 30px;

    img {
      margin-right: 8px;
    }

    p {
      font-family: var(--font-family);
      font-size: 14px;
      line-height: 131%;
      letter-spacing: .01em;
      font-weight: 500;
      color: var(--mid-grey);
      margin: 0;
    }

    span {
      font-family: var(--font-family);
      font-weight: 700;
      color: #1A73E8;
    }
  }
</style>
